## data structure
- list = indexed, ordered, mutible, rpresetation [] imp
- tuple = indexed, ordered, immutable, ()
- set = unindexed, unordered, no duplicates, {} 
- dictionary = unindexed, key value pairs, mutable, { } imp

In [5]:
# creating list
x = []#empty list
y = [ 1, 2, 3, 4, 5]#list of integers
z = ['sunday', 'monday', 'milkday']
grocery = ['milk', 59 , 'bread', 20, 'baa',22]
info = [[1,2,3],[1,2,3],[1,2,3],[1,2,3]]#nested
a = [1]*15 #list of 15 elements which all are 1

In [6]:
x.append(10)#to add in list
for i in range(3):
    val = int(input('num'))
    x.append(val)
print(x)
#list mei 11 functions hote hai

[10, 1, 2, 3]

In [7]:
del info#will delete that list

In [8]:
print(x[0],x[1],x[2]) #starting index to ast index dedega
print(x[:2])#slicing first two elements
print(x[::-1])#reversing
print(x[-3:])#slicing last 3 elements

10 1 2
[10, 1]
[3, 2, 1, 10]
[1, 2, 3]

In [9]:
for i in x:
    print(i , end=' ')

10 1 2 3

- list functions
   - add 
        - append() = add single item to the end
        - insert() = insert single item at given index
        - extend() = merge a list to an existing list
   - remove 
       - remove() - remove single item by value
       - pop() - remove singe item by index
       - clear() - remove all items
   - utility 
        - index() - find index of items by value
        - count() - count repeated items
        - sort() - sort items
        - reverse() - reverse items
        - copy() - copy list

In [2]:
books = [] #empty list
books.append('oggy')
books.append('poggy')
books.append('doggy')
books

['oggy', 'poggy', 'doggy']

In [4]:
books.insert(1, 'harry potter') #1 index wala 2nd pe chala jaega and list mei ek jagha add ho jaegi
books

['oggy', 'harry potter', 'harry potter', 'poggy', 'doggy']

In [8]:
books [2] = 'goblet of fire' #way for replacement
books

['oggy', 'harry potter', 'goblet of fire', 'poggy', 'doggy']

In [18]:
old_books = ['after', 'culpa mia', 'fault in our stars', 'the jungle book']
books.extend(old_books)

In [19]:
print(books)

['oggy', 'harry potter', 'goblet of fire', 'poggy', 'doggy', 'after', 'culpa mia', 'fault in our stars', 'after', 'culpa mia', 'fault in our stars', 'after', 'culpa mia', 'fault in our stars', 'the jungle book', 'after', 'culpa mia', 'fault in our stars', 'the jungle book']

In [21]:
if 'the jungle book' in books:
    books.remove('the jungle book')#only removes the first occurance
print(books)

['oggy', 'harry potter', 'goblet of fire', 'poggy', 'doggy', 'after', 'culpa mia', 'fault in our stars', 'after', 'culpa mia', 'fault in our stars', 'after', 'culpa mia', 'fault in our stars', 'after', 'culpa mia', 'fault in our stars']

In [26]:
books.pop(4)

'fault in our stars'

In [31]:
print(books)

['oggy', 'harry potter', 'goblet of fire', 'poggy', 'after', 'culpa mia', 'fault in our stars', 'after', 'culpa mia', 'fault in our stars', 'after', 'culpa mia', 'fault in our stars']

In [32]:
books.pop()#removes last element by default
print(books)

['oggy', 'harry potter', 'goblet of fire', 'poggy', 'after', 'culpa mia', 'fault in our stars', 'after', 'culpa mia', 'fault in our stars', 'after', 'culpa mia']

In [35]:
books.clear()#to empty list
books

[]

In [46]:
kachra = '''The Shawshank Redemption (1994)
The Godfather (1972)
Pulp Fiction (1994)
The Dark Knight (2008)
Fight Club (1999)
The Lord of the Rings trilogy (2001-2003)
Forrest Gump (1994)
Inception (2010)
Goodfellas (1990)
The Matrix (1999)
Schindler's List (1993)
The Silence of the Lambs (1991)
The Departed (2006)
Interstellar (2014)
Seven (1995)
The Prestige (2006)
Gladiator (2000)
The Social Network (2010)
The Lion King (1994)
Eternal Sunshine of the Spotless Mind (2004)
The Grand Budapest Hotel (2014)
Whiplash (2014)
Arrival (2016)
Parasite (2019)
La La Land (2016)'''
movies = kachra.splitlines()
movies

['The Shawshank Redemption (1994)',
 'The Godfather (1972)',
 'Pulp Fiction (1994)',
 'The Dark Knight (2008)',
 'Fight Club (1999)',
 'The Lord of the Rings trilogy (2001-2003)',
 'Forrest Gump (1994)',
 'Inception (2010)',
 'Goodfellas (1990)',
 'The Matrix (1999)',
 "Schindler's List (1993)",
 'The Silence of the Lambs (1991)',
 'The Departed (2006)',
 'Interstellar (2014)',
 'Seven (1995)',
 'The Prestige (2006)',
 'Gladiator (2000)',
 'The Social Network (2010)',
 'The Lion King (1994)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'The Grand Budapest Hotel (2014)',
 'Whiplash (2014)',
 'Arrival (2016)',
 'Parasite (2019)',
 'La La Land (2016)']

In [47]:
movies.sort()
movies

['Arrival (2016)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Fight Club (1999)',
 'Forrest Gump (1994)',
 'Gladiator (2000)',
 'Goodfellas (1990)',
 'Inception (2010)',
 'Interstellar (2014)',
 'La La Land (2016)',
 'Parasite (2019)',
 'Pulp Fiction (1994)',
 "Schindler's List (1993)",
 'Seven (1995)',
 'The Dark Knight (2008)',
 'The Departed (2006)',
 'The Godfather (1972)',
 'The Grand Budapest Hotel (2014)',
 'The Lion King (1994)',
 'The Lord of the Rings trilogy (2001-2003)',
 'The Matrix (1999)',
 'The Prestige (2006)',
 'The Shawshank Redemption (1994)',
 'The Silence of the Lambs (1991)',
 'The Social Network (2010)',
 'Whiplash (2014)']

In [51]:
movies.sort(reverse= True)
movies

['Arrival (2016)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Fight Club (1999)',
 'Forrest Gump (1994)',
 'Gladiator (2000)',
 'Goodfellas (1990)',
 'Inception (2010)',
 'Interstellar (2014)',
 'La La Land (2016)',
 'Parasite (2019)',
 'Pulp Fiction (1994)',
 "Schindler's List (1993)",
 'Seven (1995)',
 'The Dark Knight (2008)',
 'The Departed (2006)',
 'The Godfather (1972)',
 'The Grand Budapest Hotel (2014)',
 'The Lion King (1994)',
 'The Lord of the Rings trilogy (2001-2003)',
 'The Matrix (1999)',
 'The Prestige (2006)',
 'The Shawshank Redemption (1994)',
 'The Silence of the Lambs (1991)',
 'The Social Network (2010)',
 'Whiplash (2014)']

In [55]:
movies.index('Whiplash (2014)')

24

In [57]:
x = [1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5,5]
x.count(5)

6

In [59]:
movies_bk = movies.copy()#copies list into new memory location
movies_bk

['Arrival (2016)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Fight Club (1999)',
 'Forrest Gump (1994)',
 'Gladiator (2000)',
 'Goodfellas (1990)',
 'Inception (2010)',
 'Interstellar (2014)',
 'La La Land (2016)',
 'Parasite (2019)',
 'Pulp Fiction (1994)',
 "Schindler's List (1993)",
 'Seven (1995)',
 'The Dark Knight (2008)',
 'The Departed (2006)',
 'The Godfather (1972)',
 'The Grand Budapest Hotel (2014)',
 'The Lion King (1994)',
 'The Lord of the Rings trilogy (2001-2003)',
 'The Matrix (1999)',
 'The Prestige (2006)',
 'The Shawshank Redemption (1994)',
 'The Silence of the Lambs (1991)',
 'The Social Network (2010)',
 'Whiplash (2014)']