In [1]:
#for temp in iterable:(way to loop)
#iterables: string, list, tuple, set, dictionary

In [2]:
x = 12345
list (str(x))

['1', '2', '3', '4', '5']

In [3]:
movies = [
'shavez', 
'django', 
'batman', 
'batman begins',
'air', 
'ex machina', 
'500 days of summer',
'rango',
'interstellar',

]
print (len(movies))
for title in movies:
    print(title)

9
shavez
django
batman
batman begins
air
ex machina
500 days of summer
rango
interstellar

In [4]:
for title in movies: ##title is the variable in which the data of list is stored
    print (f'{title:40} {len(title)} chars')

shavez                                   6 chars
django                                   6 chars
batman                                   6 chars
batman begins                            13 chars
air                                      3 chars
ex machina                               10 chars
500 days of summer                       18 chars
rango                                    5 chars
interstellar                             12 chars

In [5]:
for title in movies:
    w = 'a'
    if w in title:
     print(title)

shavez
django
batman
batman begins
air
ex machina
500 days of summer
rango
interstellar

In [6]:
books = [
    ['idk', 'people', 10],
    ['harry porter', 'silvia palath', 10],
    ['destiny', 'mahmoud darwish', 10],
    ['aky', 'akinator', 1],
    ['zabi', 'raiden', 7],
    ['street fighter', 'sub zer0', 10],
    ['shh', 'ken', 20]

]

In [7]:
for book in books:
    for field in book:
        print(f'{field}', end=', ')
    print()

idk, people, 10,
harry porter, silvia palath, 10,
destiny, mahmoud darwish, 10,
aky, akinator, 1,
zabi, raiden, 7,
street fighter, sub zer0, 10,
shh, ken, 20,

In [9]:
for book in books:
    print (f'title: {book[0]}', end=' , ')
    print (f'author: {book[1]}', end=' , ')
    print (f'rating: {book[2]}', end='  ')
    print()
    print()

title: idk , author: people , rating: 10

title: harry porter , author: silvia palath , rating: 10

title: destiny , author: mahmoud darwish , rating: 10

title: aky , author: akinator , rating: 1

title: zabi , author: raiden , rating: 7

title: street fighter , author: sub zer0 , rating: 10

title: shh , author: ken , rating: 20

In [11]:
prices = [12, 21, 44, 56, None, 22]
for price in prices:
    if price is None:
        break
    print(price)

12
21
44
56

In [13]:
prices = [12, 21, 44, 56, None, 22]
for price in prices:
    if price is None:
        continue
    print(price)

12
21
44
56
22

In [16]:
names = ['rax', 'harry', 'louis', 'brandon']
for name in enumerate(names):
    print ( name)
    ##ye output tuple mei aaya hai jab ese brackets mei index value ke saath answer aae to wo tuple hai

(0, 'rax')
(1, 'harry')
(2, 'louis')
(3, 'brandon')

In [29]:
names = ['rax', 'harry', 'louis', 'brandon']##how to get answer without tuple i.e. simplified output
for index, name in enumerate(names):
    print (f'{index:<10} {name:^10}')

0             rax
1            harry
2            louis
3           brandon

In [56]:
##program to display item, item quantity, price
item_name = ['bread', 'books', 'butter']
item_quantity = [2, 1, 1]
total_price = [200, 1000 , 55]
print (f"{'item':10} quantity {'price':>8}")
for g, p, q in zip(item_name, item_quantity, total_price):
    print (f'{g:10}{p:^10} {p*q:^8}')

item       quantity    price
bread         2        400
books         1        1000
butter        1         55

In [60]:
num = int(input('num?'))
for i in range(2 , num):
    if num%i == 0:
        print ('not prime')
        break
else:
    print('prime')

not prime

In [63]:
num = int(input('number please'))
rev = 0
while (num > 0):
    last_digits = num % 10
    rev = rev *10 + last_digits 
    num = num//10
print(rev)

432