In [34]:
x = (1, 2, 3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [35]:
y = 1, 2, 3, 4 #tuple packing
print(y)
print(type(y))

(1, 2, 3, 4)
<class 'tuple'>

In [36]:
z =tuple([1, 2, 3, 4]) #typecasting of iterable(list in this one,string in 2nd one) into tuple
zs = tuple('hello')
print(z)
print(zs)

(1, 2, 3, 4)
('h', 'e', 'l', 'l', 'o')

In [37]:
#tuple functions
x = (122, 34, 34, 45, 45, 45, 19999)
print(x.count(45))
print(x.index(122))

3
0

In [38]:
x =(2,)#if you put a single element into the tuple you have to put a comma after it
print(type(x))

<class 'tuple'>

In [39]:
y

(1, 2, 3, 4)

In [40]:
a = y 
print(a)
a, b, c, d = y #this is called tuple unpacking ismei jab tum jitte element tuple mei ho utte variables equate kardoge tuple ke variable se to element ki value unn variable mei chali jaengi
print(a, b, c, d)
# a , b = y too many values to unpack(expected 2 more)
# a, b, c, d, e = y lesss values to unpack(expected 4 got 5)

(1, 2, 3, 4)
1 2 3 4

In [41]:
a , b, *c =  y #agar tum variable ke saath * laga dete ho to tuple ki remaining values uss * waale variable mei chali jaengi
print(a, b, c)
a, *b = y 
print(a, b)
a, *b, c = y 
print(a, b, c)

1 2 [3, 4]
1 [2, 3, 4]
1 [2, 3] 4

## set

In [42]:
x = {1, 4, 6, 3, 2, 5, 9, 8, 7}
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
fruits = {'apple', 'apple', 'apple', 'orange', 'orange', 'mango', 'mango', 'mango', 'peat', 'banana'}
print(fruits)
num = {1, 1, 2, 2}
print(num)
#sets mei repeated elements ni print hote

{'apple', 'mango', 'banana', 'peat', 'orange'}
{1, 2}

In [44]:
fruits.discard('apple')
print(fruits)

{'mango', 'banana', 'peat', 'orange'}

In [49]:
a = {1, 2, 3, 8, 9, 0}
b = {2, 4, 6, 8, 10}
c = {3, 7, 9, 11, 15}
d = {12, 14, 16, 18, 14}

In [46]:
a|b#union
print(a.union(b))

{0, 1, 2, 3, 4, 6, 8, 9, 10}

In [47]:
print(a & c)#intersection

{9, 3}

In [50]:
print(b - a) #difference

{10, 4, 6}

In [51]:
print(b ^ a) #symmetric difference

{0, 1, 3, 4, 6, 9, 10}

In [52]:
print(b.issuperset(a))
print(a.issubset(b))
print(a.isdisjoint(d))

False
False
True